<style>
    .col-md-2 a {
        padding: 5px;
        background: black;
        color: white;
        margin: 15px;
        display: block;
        border-radius: 5px;
    }

    .navcc .container {
        border: 1px solid black;
        margin-block-start: 25px;
        margin-block-end: 25px;
        border-radius: 10px;
    }
</style>

<section class="navcc">
    <div class="container">
        <div class="row" style="text-align: center;">
            <div class="col-12 col-md-2">
                <a href="/User">Hesabım</a>
            </div>
            <div class="col-12 col-md-2">
                <a href="/User/Address">Adreslerim</a>
            </div>
            <div class="col-12 col-md-2">
                <a href="/User/Orders">Siparişlerim</a>
            </div>
            <div class="col-12 col-md-2">
                <a href="/User/Comments">Yorumlarım</a>
            </div>
            <div class="col-12 col-md-2">
                <a href="/User/Settings">Hesap Ayarları</a>
            </div>
            <div class="col-12 col-md-2">
                <a href="/User/Logout" style="background: #f73e3e !important;">Çıkış Yap</a>
            </div>
        </div>
    </div>
</section>