@{
    ViewData["Title"] = "E-Ticaret Kullanıcı";
}

<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Hesabım</h4>
                    <div class="breadcrumb__links">
                        <a asp-controller="Home" asp-action="Index">AnaSayfa</a>
                        <span>Hesabım</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@Html.Partial("_Navigation")