@{
    ViewData["Title"] = "Admin Panel";
    var comments = ViewBag.Comments;
}
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Yorumlar</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item "><a asp-controller="Admin" asp-action="Index">Panel</a></li>
                    <li class="breadcrumb-item active">Yorumlar</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header bg-gradient-info">
                        <h3 class="card-title">Yorumlar</h3>
                    </div>
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Ürün</th>
                                    <th>Kullanıcı</th>
                                    <th>Yayınlanma Tarihi</th>
                                    <th>Durum</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var comment in comments)
                                {
                                    <tr>
                                        <td>
                                            @comment.CommentId
                                        </td>
                                        <td>
                                            <a href="/Admin/Products/@comment.ProductId">
                                                @if (comment.Product.Pictures != null && comment.Product.Pictures.Count > 0)
                                                {
                                                    <img src="/img/@comment.Product.Pictures[0].Path" style="width: 40px;" />
                                                }
                                                @comment.Product.Name
                                            </a>
                                        </td>
                                        <td>
                                            <a href="/Admin/User/@comment.UserId">@comment.User.NameSurname</a>
                                        </td>
                                        <td>
                                            @comment.PublishedDate
                                        </td>
                                        <td>
                                            @if (comment.Status == true)
                                            {
                                                <span class="badge badge-success">Aktif</span>
                                            }
                                            else
                                            {
                                                <span class="badge badge-danger">Pasif</span>
                                            }
                                        </td>
                                        <td style="display: flex;">
                                            <a href="/Admin/Comment/@comment.CommentId" class="btn btn-info">
                                                <i class="fas fa-eye"></i>
                                            </a>
                                            <a href="/Admin/CommentDelete/@comment.CommentId" class="btn btn-info">
                                                <i class="fas fa-eye"></i>
                                            </a>
                                            <form action="/Admin/Commentd/@comment.CommentId">
                                                <button type="submit" class="btn btn-danger">
                                                    <i class="fas fa-trash"></i>
                                                </button>
                                            </form>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>#</th>
                                    <th>Ürün</th>
                                    <th>Kullanıcı</th>
                                    <th>Yayınlanma Tarihi</th>
                                    <th>Durum</th>
                                    <th></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>