@{
    @model E_Ticaret.Models.ProductModel
    ViewData["Title"] = "E-Ticaret Kullanıcı";
}

<style>
    .dflex {
        display: flex;
    }
</style>

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Ürün Ekle</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item "><a asp-controller="Admin" asp-action="Index">Panel</a></li>
                    <li class="breadcrumb-item "><a asp-controller="Admin" asp-action="Products">Ürünler</a></li>
                    <li class="breadcrumb-item active">Ürün Ekle</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="x">
                    <div class="xs" style="margin-block-end: 100px;">
                        <div class="row">
                            <div class="col-md-12 col-12 d-flex align-items-stretch">
                                <div class="card shadow" style="width: 100%;">
                                    <div class="card-header bg-gradient-danger">
                                        <h4 class="card-title">Ürün Ekle</h4>
                                    </div>
                                    <div class="card-body">
                                        <form action="" method="post">
                                            <div class="row">
                                                <div class="col-12 col-md-6" style="margin-block-end: 10px;">
                                                    <div class="row">
                                                        <div class="col-12 col-md-6" style="margin-block-end: 10px;">
                                                            <label asp-for="Name"></label>
                                                            <input asp-for="Name" class="form-control">
                                                        </div>
                                                        <div class="col-12 col-md-6" style="margin-block-end: 10px;">
                                                            <label asp-for="Sku"></label>
                                                            <input asp-for="Sku" class="form-control">
                                                        </div>
                                                        <div class="col-12 col-md-6" style="margin-block-end: 10px;">
                                                            <label asp-for="Price"></label>
                                                            <input asp-for="Price" class="form-control numberZone">
                                                        </div>
                                                        <div class="col-12 col-md-6" style="margin-block-end: 10px;">
                                                            <label asp-for="Stock"></label>
                                                            <input asp-for="Stock" class="form-control">
                                                        </div>
                                                        <div class="col-12 col-md-6">
                                                            <label asp-for="Status"></label>
                                                            <select asp-for="Status" class="form-control">
                                                                <option value="false">Pasif</option>
                                                                <option value="true">Aktif</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-12 col-md-6">
                                                            <label asp-for="CategoryId"></label>
                                                            <select asp-for="CategoryId" class="form-control">
                                                                @foreach (var cat in ViewBag.Categories)
                                                                {
                                                                    <option value="@cat.CategoryId">@cat.Name</option>
                                                                }
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-6" style="margin-block-end: 10px;">
                                                    <label asp-for="Description"></label>
                                                    <textarea name="Description" class="form-control"></textarea>
                                                </div>
                                                <div class="col-12">
                                                    <button type="submit" class="btn btn-success mt-4 btn-block" style="background-color: #061b3d;"> Ekle</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    var elements = document.querySelectorAll('.numberZone');

    function checkInput(input) {
        if (/^\d*\,?\d*$/.test(input.value)) {
            if (/^\d*\,?\d{0,2}$/.test(input.value)) {
                input.oldValue = input.value;
            } else {
                input.value = input.oldValue || '';
            }
        } else {
            input.value = input.oldValue || '';
        }
    }

    elements.forEach(function (element) {
        element.addEventListener('input', function () {
            checkInput(this);
        });
        element.oldValue = element.value;
    });

</script>