@{
    @model E_Ticaret.Models.SliderModel

    ViewData["Title"] = "E-Ticaret Slider";
}

<style>
    .dflex {
        display: flex;
    }
</style>

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Slider Ekle</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item "><a asp-controller="Admin" asp-action="Index">Panel</a></li>
                    <li class="breadcrumb-item "><a asp-controller="Admin" asp-action="Sliders">Slider</a></li>
                    <li class="breadcrumb-item active">Slider Ekle</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="x">
                    <div class="xs" style="margin-block-end: 100px;">
                        <div class="row">
                            <div class="col-12 d-flex align-items-stretch">
                                <div class="card shadow" style="width: 100%;">
                                    <div class="card-header bg-gradient-dark">
                                        <h4 class="card-title">Slider Ekle</h4>
                                    </div>
                                    <div class="card-body">
                                        <form action="" method="post" class="form_send">
                                            <div class="row">

                                                <div class="col-12 col-md-4" style="margin-block-end: 10px;">
                                                    <label for="BackgroundImg">
                                                        <img src="/img/default-slider.jpg" style="width: 100%;" id="BackgroundImgFile" />
                                                    </label>
                                                    <input name="BackgroundImg" id="BackgroundImg" type="file" class="form-control">
                                                </div>

                                                <div class="col-12 col-md-8 row">
                                                    <div class="col-12 col-md-4" style="margin-block-end: 10px;">
                                                        <label asp-for="Title"></label>
                                                        <input asp-for="Title" class="form-control">
                                                    </div>

                                                    <div class="col-12 col-md-4" style="margin-block-end: 10px;">
                                                        <label asp-for="SubTitle"></label>
                                                        <input asp-for="SubTitle" class="form-control">
                                                    </div>

                                                    <div class="col-12 col-md-4" style="margin-block-end: 10px;">
                                                        <label asp-for="Description"></label>
                                                        <input asp-for="Description" class="form-control">
                                                    </div>

                                                    <div class="col-12 col-md-4" style="margin-block-end: 10px;">
                                                        <label asp-for="ButtonTitle"></label>
                                                        <input asp-for="ButtonTitle" class="form-control">
                                                    </div>

                                                    <div class="col-12 col-md-4" style="margin-block-end: 10px;">
                                                        <label asp-for="ButtonUrl"></label>
                                                        <input asp-for="ButtonUrl" class="form-control">
                                                    </div>

                                                    <div class="col-12 col-md-4" style="margin-block-end: 10px;">
                                                        <label asp-for="Status">Durum</label>
                                                        <select asp-for="Status" class="form-control">
                                                            <option value="true">Aktif</option>
                                                            <option value="false">Pasif</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="col-12">
                                                    <button type="submit" class="btn btn-success mt-4 btn-block" style="background-color: #061b3d;"> Ekle</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>